
* {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.App {
    margin: 0.75rem auto;
    max-width: max-content;
}

.title {
    color: rgb(0, 74, 158);
    margin: 15px;

}

.app--count {
    display: inline-block;
    min-width: 20px;
}

button {
    border: none;
    margin: 1rem 2rem;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    opacity: 0.6;
    color: grey;
}

button:hover {
    opacity: 1;
    color: black;
}

